* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  border: solid black 1px;
  width: 800px;
  height: 700px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#title {
  text-align: center;
  border: solid black 1px;
  margin: 10px;
  border-radius: 10px;
}

#color-palette {
  height: 150px;
  width: fit-content;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.color {
  border: solid black 1px;
  width: 60px;
  height: 60px;
  float: left;
}

#color-1 {
  background-color: black;
}

#color-2 {
  background-color: red;
}

#color-3 {
  background-color: rgb(0, 114, 253);
}

#color-4 {
  background-color: rgb(9, 117, 19);
}

button {
  margin-top: 30px;
  margin-left: 60px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background: none;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: solid black 1px;
}
